*{
  margin: 0;
  padding: 0;
}

body {
  font-size: .875rem;
  background-color: white;
}


header{
  width: 100%;
  height: 5vh;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1vh;
  font-size: 2em;
}

